.circleContainer {
   position: relative;
   width: 100%;
   max-width: 700px;
   aspect-ratio: 1; /* Menjaga proporsi lingkaran */
   border: 8px solid white;
   border-radius: 50%;
   overflow: visible;
   background: linear-gradient(to right, black, transparent);
   display: flex;
   justify-content: center;
   align-items: center;
}

.dot {
   position: absolute;
   transition: transform 0.7s ease;
}

.dotActive {
   background-color: red; /* Contoh gaya untuk dot aktif */
}

@media (max-width: 768px) {
   .circleContainer {
      max-width: 400px; /* Ukuran lebih kecil untuk layar kecil */
      border-width: 4px;
   }
}
