@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&family=Public+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   overflow-x: hidden;
   background-color: #242424;
   width: 100vw;
   font-family: "Nunito Sans", "Public Sans", sans-serif;
}
